s @charset "UTF-8";
a,
body,
div,
html,
p,
section,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

section {
    display: block
}

body {
    line-height: 1;
    background-color: #000000;
/*    top:5vh;*/
    position:fixed;
}

html {
    scroll-behavior: smooth
}

p {
    /* color: #141e30; */
    font-size: 20px;
    /* margin-bottom: 20px; */
    line-height: 150%
}

body,
html {
    width: 100%;
/*    overflow-x: hidden*/
}

.page-content {
    width: 88%;
    margin-left: 6%;
    max-width: 1100px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 1.5rem;
    padding-bottom:1rem;
    height:87vh;
    top:5vh;
}


.names {
    color: rgb(166, 165, 165);
    margin-bottom: 0px;
}

.feed-title {
    color: white;
    padding: 0px;
    margin-bottom: 0px;
    font-size:16pt;
}
.feed-title:hover {
    cursor:pointer;
    text-decoration:underline;
}

.feed-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    padding: 0px;
    margin-bottom: 1rem;
    width: 100%
}

.header-text {
    margin-left: .75rem;
}

.profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
/*    margin-top:10px;*/
}


.icon {
    color: lightgray;
}

.icon:hover {
    color: white;
}

.profile-link {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}


@media screen and (min-width:1040px) {
    section {
        margin-bottom: 256px
    }

    body#index .page-content {
        width: 84%;
        margin-left: 8%
    }
}

@media screen and (min-width:1300px) {
    body#index .page-content {
        width: 80%;
        margin-left: 10%
    }
}

section#content-container {
    max-width: 600px
}

@media screen and (min-width:700px) {
    section#content-container {
        margin: 0 auto 96px auto
    }
}

section#content-container:last-of-type {
    border-bottom: none
}

section#content-container p a {
    /* color: #141e30; */
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 175ms ease, background-color .15s ease, box-shadow .15s cubic-bezier(.175, .885, .32, 1.275), transform 175ms cubic-bezier(.175, .885, .32, 1.275)
}

section#page p {
    max-width: 600px /* total width of the text thread*/
}

section#content-container div.messages {
    height: 100%;
    margin-bottom: 20px; /*margin at the bottom of each <div class="messages"> container–individual text threads*/
    margin-top: 20px
}

    section#content-container div.messages div.message-group {
        margin-bottom: 6px; /*margin between message groups*/
        position : relative;
    }


    section#content-container div.messages p { /*paragraph settings*/
        font-size: 16px;
        margin-bottom: 2px;
        margin-top: 2px
    }

        section#content-container div.messages p.message {
            font-family: -apple-system, system-ui, "Helvetica Neue", "Work Sans", sans-serif;
            display: flex
        }

            section#content-container div.messages p.message span {
                padding: 12px;
                border-radius: 20px
            }

        section#content-container div.messages p.message-right {
            color: #fff;
            align-items: flex-end;
            flex-direction: row-reverse;
            max-width: 80%;
            margin-left: 20%
        }

            section#content-container div.messages p.message-right span {
                background-color: #3c75ef;
/*                #3a71e8*/
            }

        section#content-container div.messages p.message-left {
            max-width: 80%;
            color: #fff;
        }

            section#content-container div.messages p.message-left span {
                background-color: #141414
            }

.name {
    margin-bottom: 0px;
}


.material-icons {
    cursor: pointer;
    color: lightgray;
}

.top-float {
    position:fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    border-radius: 1000px;
    align-items: center;
    height: 3rem;
    width: 90%;
    background-color: black;
    margin-bottom:6px;
}

.top-float:hover{
    cursor:pointer;
}

.top-float-selector {
    top:0;
    border-radius: 1000px;
    height: 3rem;
    width : 45%;
    background-color: white;
    color:black;
    position:absolute;
    z-index:0;
}


#left.top-float-selector {
    margin-left: 5%;
    margin-right:50%;
    width:45%;
}
#right.top-float-selector {
    margin-left: 50%;
    margin-right: 5%;
    width: 45%;
}

.feed-name-container {
    width: 40%;
    height: 3rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius: 1000px;
    z-index: 1;
}

/*body#page{
    margin-top:4px;
}*/

/*
.content {
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}*/


section#content-container div.comments { /*paragraph settings*/
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: flex-start;
}

section#content-container div.comments p { /*paragraph settings*/
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
    

}

    section#content-container div.comments p.comment-text {
        font-family: -apple-system, system-ui, "Helvetica Neue", "Work Sans", sans-serif;
        display: flex;
        flex-direction:column;
        text-align:left;
    }

        section#content-container div.comments p.comment-text span {
            padding: 12px;
            border-radius: 20px;
            color: #fff;
/*            background-color: #c38437;*/
/*            comment background color*/
        }


section#content-container div.comments div.comment {
    margin-bottom: 9px /*margin between comment groups*/
}

.comment{
    display:flex;
    flex-direction:row;
    align-items:flex-ends;

/*    max-width:90%;*/
}

.commenter-photo-div {
    margin-right: 10px;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.comment-div{
    width:70vh;
}
.comment-div p{
    width: fit-content;
    align-text: left;
}

.page-content-pm {
    width: 88%;
    margin-left: 6%;
    max-width: 1100px;
    border: 0px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    height: 87vh;
    bottom: 8vh;
    position:fixed;
    display:flex;
    flex-direction:column-reverse;
}

.bottom-float {
    display: flex;
    justify-content: space-around;
    border-radius: 1000px;
    align-items: center;
    height: 3rem;
    width: 90%;
    background-color: black;
    margin-bottom: 6px;
}

.comment-actions {
    color: lightgray;
    font-size: 12pt;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 15px;
}
.comment-tight-div{
    width:fit-content;
}
/*.comment-reply {
    border-radius:1000px;
    
}
*/



.input-container {
    border-radius: 18px/20px;
    width: 100%;
    background-color: #141414;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.comment-reply-message-input {
    /*    border-radius: 1000px;*/
    background-color: transparent;
    font-size: 11pt;
    border: none;
    color: lightgray;
    word-break: break-word;
    outline-width: 0;
    width: 100%;
    padding: 4px;
    resize: none
}
.icon{
    color:lightgray;
}
.icon:hover{
    color:white;
    cursor:pointer;
}

.sendButton{
    display:flex;
    flex-direction:column-reverse;
}

.default{
    cursor:default;
}

.name-link:hover {
    cursor: pointer;
    text-decoration:underline;
}
.image-link:hover {
    cursor: pointer;
}
.action:hover{
    cursor:pointer;
}

.more-messages {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(166, 165, 165);
}

.more-messages:hover {
    text-decoration: underline;
}

.convo-title {
    position: fixed;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

.small-profile-left {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 0%;
    top: 0%;
    position: absolute;
}

.small-profile-right {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 33%;
    top: 33%;
    position: absolute;
}

.small-p-container {
    width: 50px;
    height: 50px;
    position: relative;
}

.small-profile-convo-right {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    bottom:-15px;
    right:-15px;
}

.small-profile-convo-left {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: -15px;
}

.hold-m-and-p{
    margin-left:5%;
    margin-right:5%;
}

.show-r-b {
    color: white;
    background-color: #151515;
    border: none;
    outline: none;
    float: center;
    padding: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#input-container-bottom {
    bottom: 6px;
    width: 80%;
    position:fixed;
}


.recipient-container {
    width: 100%;
    background-color: #141414;
    padding: 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    top:0px;
    border-bottom:1px solid lightgray;
}

.recipientText{
    font-size:12px;
    color:darkgray;
}
.messaging-bottom {
    align-items: center;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

#messageInput{
/*    margin-left:5%;*/
    width:90%;
}

.bottom-row-compose {
    position: fixed;
    bottom: 0px;
    height: 58px;
    width: 100%;
}