.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.material-icons {
    cursor: pointer;
    color: lightgray;
}

.top-row#left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    z-index: 1;
    flex-direction: row;
    justify-content:flex-start
}

.top-row#right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    margin-left: 90%;
    width: 95%;
    z-index: 1;
    flex-direction: row;
    justify-content:flex-end;
}

.nav-icon-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    background-color: #323232;*/
}

.icon {
    color: lightgray;
}

    .icon:hover {
        color: white;
    }

.profile-link {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}


.btn-header {
    background-color: transparent;
}


.bottom-row {
    height: 8vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.main .top-row {
    background-color: black;
    border-bottom: 1px solid darkgrey;
    height:5vh;
    width:100%;

}

.main .bottom-row {
    background-color: #090909;
    /*    border-top: 1px solid #d6d5d5;*/
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*.top-row-mylines {
    background-color: black;
    border-bottom: 1px solid darkgrey;
    width:100%;
    justify-content: flex-end;
    height: 4vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    flex-direction: row;
}
*/

.top-row-inbox{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.top-row2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    margin-left: 90%;
    width: 10%;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-end;
}