.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.material-icons {
    cursor: pointer;
    color: lightgray;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1;

    flex-direction:row;
}


.nav-icon-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    background-color: #323232;*/
}

.icon {
    color: lightgray;
}

    .icon:hover {
        color: white;
    }

.profile-link {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}


.nav-icon-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    background-color: #323232;*/
}


.btn-header {
    background-color: transparent;
}

.top-row {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.bottom-row {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main .top-row {
    background-color: black;
    border-bottom: 1px solid #d6d5d5;
}

.main .bottom-row {
    background-color: black;
    border-top: 1px solid #d6d5d5;
  
}