
.inbox-item
{

}

.partner-name {
    text-align: left;
    padding-top: 0.5em;
    padding-left: 1.5em;
    font-weight: medium;
    font-size: 17pt;
    color: white;
}

.partner-picture {
    cursor: pointer;
}

.partner-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
    padding: 10px;
    float: left;
}

.partner-line {
    text-align: left;
    align-self: center;
    padding-top: 20px;
    padding-left: 1.5em;
    bottom: 0;
    font-weight: regular;
    font-size: 15pt;
    color: grey;
}

ul#partnerlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}