.message-header {
    font-style: "HelveticaNeue";
    color: white;
    font-size: 15pt;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px
}

.preview-message {
    color: rgb(166, 165, 165);
    margin-bottom: 0px;
    margin-top: 4px;
    /*    white-space: nowrap;
    overflow: hidden;*/
    font-size: 12pt;
    line-height: 1em;
    /*    overflow-wrap: break-word;*/
}

.convo-name {
    color: white;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 11pt;
}

.inbox-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 5px;
    margin: 0;
    width: 100%;
    padding-left: 5%;
    border: 1px solid #141414;
}
.inbox-item:hover {
    cursor:pointer;
}

.inbox-text {
    margin-left: .75rem;
}

.inbox-item:hover {
    background-color: #141414;
}

.message-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}