@page "/mylines"
@inject NavigationManager NavigationManager
@layout MainLayout


@code {
    private void NavigateHomeFeedComponent() { NavigationManager.NavigateTo("/"); }
    public String ListHeight = "300px"; //height in pixels of list
}


<body>
    <div class="content">
        <div class="profile-top">
            <nav class="navbar">
                <span class="material-icons" @onclick="NavigateHomeFeedComponent">
                    arrow_back_ios
                </span>
                <img class="user-picture" alt="Profile Picture" src="Sahil.JPG">
                <span class="material-icons">
                    more_vert
                </span>
            </nav>
            <h3 class="profilename">Sahil Handa</h3>
            <!--User information area. I think it would be cool to eventually have swipe to see frequent convo partners.-->
            <div class="user-wrapper">
                <div class="user">
                    <div class="tagline">
                        <p>
                            Associate Editor at JPersuasion | Bylines WSJ, ForeignPolicy, NRO |
                            Undergrad Harvard | Writing a Book About Campus Conformity | Building a Social Platform
                        </p>
                    </div>
                </div>
            </div>
            <div style="height:200px"></div>
            <!--Allows users to toggle between feeds of their lines.-->
        </div>
        <div class="profile-middle">
            <nav class="options">
                <div class="favorites">
                    <span class="material-icons" "hvr-grow">
                        favorite_border
                    </span>
                </div>
                <div class="participated-in">
                    <span class="material-icons" "hvr-grow">
                        comment_bank
                    </span>
                </div>
                <!--Don't let me forget to loop back to this one; will need a slightly different view to accnt for uploading-->
                <div class="drafts">
                    <span class="material-icons" "hvr-grow">
                        publish
                    </span>
                </div>
            </nav>
        </div>
        <div class="profile-bottom">
            <div class="list-div">
                <ul id="partnerlist">
                    @*style="height:@ListHeight"*@
                    <li class="partner-item">
                        <div>
                            <img class="partner-picture" alt="Profile Picture" src="David.png">
                        </div>
                        <div class="partner-text">
                            <h3 class="partner-name"> David Grant </h3>
                            <p class="partner-line"> I built a DAW production desk with a friend using two Vizio 43” TVs because “the real thing” was like $10k</p>
                        </div>
                    </li>
                    <li class="partner-item">
                        <div>
                            <img class="partner-picture" alt="Profile Picture" src="Shaan.png">
                        </div>
                        <div class="partner-text">
                            <h3 class="partner-name"> Shaan Singh </h3>
                            <p class="partner-line"> From an interview with Daniel Ek, CEO of Spotify. Pay attention to the last line in particular.</p>
                        </div>
                    </li>
                    <li class="partner-item">
                        <div>
                            <img class="partner-picture" alt="Profile Picture" src="Bardi.png">
                        </div>
                        <div class="partner-text">
                            <h3 class="partner-name"> Bardi Moradi </h3>
                            <p class="partner-line">Imma tryna ideate, iterate, and innovate. The future is now.</p>
                        </div>
                    </li>
                    <li class="partner-item">
                        <img class="partner-picture" alt="Profile Picture" src="Caty.jpg">
                        <div class="partner-text">
                            <h3 class="partner-name"> Caty Vigil </h3>
                            <p class="partner-line">Man you could open a museum with everything we've collected on this journey.</p>
                        </div>
                    </li>
                    <li class="partner-item">
                        <div>
                            <img class="partner-picture" alt="Profile Picture" src="Eli.png">
                        </div>
                        <div>
                            <h3 class="partner-name"> Eli Burnes </h3>
                            <p class="partner-line">I tried feeling really religious for a bit. It was pretty easy.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
