
.profilename {
    float: center;
    font-style: "HelveticaNeue";
    color: white;
    font-size: 34pt;
    font-weight: bold;
    text-align: center;
}

.tagline {
    position: relative;
    border-style: solid;
    border-width: medium;
    border-color: grey;
    float: right;
    max-width: 25em;
    font-style: "HelveticaNeue";
    font-weight: normal;
    padding: .5em .5em;
    font-size: 17pt;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.preview-message {
    color: rgb(166, 165, 165);
    margin-bottom: 0px;
    margin-top: 4px;
    /*    white-space: nowrap;
    overflow: hidden;*/
    font-size: 12pt;
    line-height: 1em;
    /*    overflow-wrap: break-word;*/
}

.convo-name {
    color: white;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 11pt;
}

.inbox-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 5px;
    margin: 0;
    width: 100%;
    padding-left: 5%;
    border: 1px solid #141414;
}

.inbox-text {
    margin-left: .75rem;
}

.inbox-item:hover {
    background-color: #141414;
}


.material-icons {
    cursor: pointer;
    color: lightgray;
}

/*Top navbar. Contains menu icon, back icon, and title*/
.navbar {
      list-style: none;
      background-color: black;
      color: darkgrey;  
      text-align: center;
      box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


/*changes icon color on hover.*/ 
.material-icons:hover{ 
    color: white; 
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}