.bottom-row {
    flex: 0 1 auto;
    width: 100%;
    bottom: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.top-row-pm {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid darkgray;
    flex: 1 0 7%;
}

.conversation {
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.page-content-pm {
    max-width: 1100px;
    margin-right: 4vw;
    margin-left: 4vw;
    border: 0px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 1.5rem;
    padding-bottom: .7rem;
    display: flex;
    flex-direction: column-reverse;
}


.bottom-row-pm {
    flex: 0 1 auto;
    width: 100%;
    bottom: 100%;
    padding: 6px;
    padding-bottom: 7px;
}


.messaging-bottom {
    align-items: stretch;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.input-container {
    border-radius: 18px/20px;
    width: 100%;
    background-color: #141414;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
    color: lightgray;
    font-size: 40px;
}

.material-icons:hover{
    color:white;
}

.icon-div {
    margin-right: 4px;
    margin-left: -2px;
    display: flex;
}

.sendButton {
    margin-bottom: 2px;
}

.icon-column{
    display:flex;
    flex-direction:column-reverse;
}

.pm-title{
    font-size:20pt;
    color:white;
}
/*these will overrule mainStyles style....*/
section#content-container div.messages p.message-right {
    color: #fff;
    align-items: flex-end;
    flex-direction: row-reverse;
    max-width:none;
}

section#content-container div.messages p.message-left {
    color: #fff;
    max-width: none;
}

section#content-container div.messages p.message-right span {
    background-color: #a6362b;
    /*                #3a71e8*/
}

section#content-container div.messages p.message-left span {
    background-color: #141414
}
.shaded-left {
    color: rgb(102, 102, 102) !important;
    background-color: #060606 !important;
}
.shaded-right {
    color: rgb(105, 105, 105) !important;
    background-color: rgb(70, 1, 0) !important;
}

.left-normal {
    margin-right:18vw;
    margin-left:0vw;
}
.left-compressed {
    margin-right: 11vw;
    margin-left: 7vw;
}

.normal-box{
    opacity:.9;
}
.shaded-box{
    opacity:.3;
}
.selector-div {
    align-items: center;
    display: flex;
}
.showV{
/*    display:flex;*/
    visibility:visible;
}
.hideV {
    /*    display:flex;*/
    visibility: hidden;
}

.message-div-left{
    display:flex;
    justify-content:flex-start;
}
.message-div-right {
    display: flex;
    justify-content: space-between;
}

.normal-m-div {
    background-color: black;
}

.instructions {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid darkgray;
    flex: 0 1 4%;
}

.prompt-text{
    color:white;
}
/*.selected {
    background-color: #404040;*/
/*dark slate blue also good selected color*/
/*}
.selectedGroup {
    background-color: #404040;
    margin-bottom: 0px !important;
    padding-bottom: 6px;
}*/
.editing-action{
    color:lightgray;
    font-size:11pt;
}
    .editing-action:hover {
        color: white;
        cursor:pointer;
    }
.editing-bottom-div{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between; 
}